.container-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.container-navbar{
    display: flex;
    z-index: 5;
}

.imagelogo{
    display: flex;
    max-width: 200px;
    max-height: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
}

.container-right{
    display: flex;
    flex-direction: row;
    margin-right: 25px;
    align-items: center;
}

.lupa{
    margin-right: 5px;
}

.searchbar{
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    border-bottom: solid 2px;
    padding: 5px;
}

.user img{
    padding: 10px;
}

@media (max-width: 600px){

    .searchbar{
    display: none;
    }  
    
}